{% extends 'event/index.html' %}
{% load static %}
{% block contenue %}
<div class="containerContact">
    <h1 class="title2">Contact</h1>
    <div class="container_contact">
        <form id="contact_form" method="POST" enctype="multipart/form-data">
            <div class="row">
                <label class="contact_label" for="name">Votre nom:</label><br/>
                <input id="name" class="input" name="name" type="text" value="" size="30" placeholder="Votre nom ici"/><br/>
                <span id="name_validation" class="error_message"></span>
            </div>
            <div class="row">
                <label class="contact_label" for="email">Votre adresse mail:</label><br/>
                <input id="email" class="input" name="email" type="text" value="" size="30" placeholder="Votre mail ici"/><br/>
                <span id="email_validation" class="error_message"></span>
            </div>
            <div class="row">
                <label class="contact_label" for="message">Votre commentaire et/ou suggestion:</label><br/>
                <textarea id="message" class="input" name="message" rows="7" cols="30" placeholder="Votre commentaire ici"></textarea><br/>
                <span id="message_validation" class="error_message"></span>
            </div>
            <div class="boutonIndex">
                <a href="mailto:zenith_du_tiers_monde@gmail.com" class="fancy-btn" type="submit">Envoyer</a>
            </div>
        </form>
        <iframe width="500" height="400" frameborder="0" src="https://maps.google.com/maps?q=Rue%20de%20l'Aiguebelle,%2011310%20Saissac&t=&z=13&ie=UTF8&iwloc=&output=embed" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}