
{% extends 'event/index.html' %}
{% load static %}

    {% block contenue %}
    <div class="containerInfo">
        <h1 class="title2">Quentin XAILLE</h1>
        <div id="stripped2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
            </svg>
        </div>

        <h2 class="title2">Présentation</h2>
        <div class="info_detail">
            <p class="p_detail">
                Quentin XAILLE exerce son activité d'ébénisterie d'art sur la commune de Saissac, dans l'Aude.
                Spécialisé dans la fabrication et la restauration de mobilier, il saura mettre en oeuvre tout son talent et sa créativité pour donner vie à vos projets.
                N'hésitez pas à le contacter pour plus d'information.
                
                Artisan d'art référence sur la route des métiers d'art d'Occitanie.
        </div>
        
        <h2 class="title2">Services  </h2>
        <div class="info_detail">
            <p class="p_detail">
                Ebénisterie, Restauration de meubles
        </div>
        
        <h3 class="title2">Réparation </h3>
        <div class="info_detail">
            <p class="p_detail">
                Fabrication et restauration de tous types de mobiliers et articles de la maison  - Travail du bois - Ebénisterie - Artisanat d'Art
            </div>
            
            
        <h2 class="title2">Réalisations</h2>
        <div class="info_detail">
            <p class="p_detail">
                Du mobilier sur mesure, des objets de déco, de l’agencement et de la restauration de meuble. Et en règle générale tout projet en bois en dehors des menuiseries, escaliers, terrasse… qui ne sont pas de mon domaine de compétences et qui sont réalisés par des menuisiers. Je travaille également avec un ferronnier pour mêler bois et fer dans un style industriel.
        </div>
            
        <h2 class="title2">Partenaires</h2>
        <div class="info_detail">
            <p class="p_detail">
                À noter qu’il collabore avec d’autres professionnels, comme Elisabeth Fraisse de L’atelier occitan à Carcassonne ou un ferronnier, l’atelier Art’maury à Vendine. 
        </div>
    
        <a class="fancy-btn" href="{% url 'event:index' %}">Accueil</a>
    </div>
    {% endblock %}
