{% extends "event/index.html" %}
{% load static %}
{% load i18n %}

{% block contenue %}
    <h1 class="title2">Compte de {{request.user.username}} </h1>
    <div class="containerInfo">
        <div class="info_detail">
            <p class="p_detail">PSEUDO</p>
            <p class="p_detail">{{request.user.username}}</p>
            <div id="traitBas"></div>
            <p class="p_detail">PRENOM
            <p class="p_detail">{{request.user.last_name}}</p>
            <div id="traitBas"></div>
            <p class="p_detail">NOM
            <p class="p_detail">{{request.user.first_name}}</p>
        </div>
    </div>
{% endblock %}